<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <test name="Regression Test">
        <parameter name="username" value="testuser1"></parameter>
        <parameter name="password" value="testpassword"></parameter>
        <classes>
            <class name="SampleTest2"/>
            <class name="SampleTest1"/>
        </classes>
    </test>
</suite>